= render partial: 'partials/nav'

new mix

= @mix.errors.to_hash[:'videos.yt_video_id']&.to_sentence

= form_with model: @mix do |form|
  %ul
    = form.label :name
    = form.text_field :name

    = form.fields_for :videos do |videos_form|
      %li
        Video
        = videos_form.label :url
        = videos_form.text_field :url

        = videos_form.label :volume
        = videos_form.range_field :volume, from: 1, to: 100
  = form.submit 'Create mix'
