= form_with model: @mix do |form|
  .mt-10.mx-auto{class: 'w-[1020px]'}
    = form.label :name, 'Name your mix', class: 'mr-5'
    = form.text_field :name

    -# add play button

    .mt-10.flex.items-center.gap-5.flex-wrap
      = form.fields_for :videos do |videos_form|
        .flex.justify-center.items-center.border-dashed.border-4.border-gray-200{class: 'w-[500px] h-[281.25px]'}
          .mt-5.flex.items-center.gap-5
            = videos_form.label :url, 'URL'
            = videos_form.text_field :url, placeholder: 'YouTube video URL', 'aria-label': 'YouTube video URL'
            -# TODO
            %a.button.leading-5.border-4.border-gray-300.bg-gray-200.hover:border-gray-400.hover:bg-gray-300.transition
              Add

    .mt-10.flex.justify-center
      .button.leading-5.border-4.border-gray-200.bg-gray-100.group-hover:border-gray-300.group-hover:bg-gray-200.transition
        -# TODO
        + Add another video

  .mt-10.flex.justify-center.items-center
    = form.submit 'Create mix', class: 'button border-4 border-green-300 text-xl bg-green-500 text-white hover:border-green-400 hover:bg-green-600 transition'

