!!!
%html
  %head>
    %title Mixer
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'tailwind', 'inter-font'
    = stylesheet_link_tag 'application'
    = javascript_importmap_tags

    %script{src: 'https://www.youtube.com/iframe_api'}
    %script{src: 'https://unpkg.com/htmx.org@1.9.4', integrity: 'sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV', crossorigin: 'anonymous'}

  %body.m-5.min-h-screen
    %main.min-h-screen.container.mx-auto.border-2.border-black{class: 'max-w-[880px]'}
      = yield
