!!!
%html
  %head>
    %title Mixer
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1'}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload'
    = stylesheet_link_tag 'application'
    = javascript_importmap_tags

    %link{href: 'https://unpkg.com/plyr@3.7.8/dist/plyr.css', rel: 'stylesheet'}
    %script{src: 'https://unpkg.com/htmx.org@1.9.4', integrity: 'sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV', crossorigin: 'anonymous'}

  %body
    %main.container.mx-auto.mt-28.px-5
      = yield
